nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}
.logo-theme{
    color: var(--bs-navbar-color);
}


body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0; 
    background-image: url(/res/Bricks.jpg); 
}
main{
    z-index: 0;  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
section{
    width: 100%;

}
#footer{
    --position: 32px;
    position: fixed;
    top: calc(100vh -  var(--position));
    transition: top 1s;
    right: 0;
    left: 0;
    z-index: 1;
}

.footerShower>svg{
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}

.footerShower{
    display: flex;
    justify-content: center;
}

.parallax-window{
    height: 70vh;
}

.showElement, .showElementOnStart{
    display:none
}

.sig{
    animation: sig 4s ease;
    animation-fill-mode: forwards;
}
@keyframes sig {
    to{
        stroke-dashoffset: 0;
    }
}